<body>
    <h1>Gift Preview</h1>

    <div class="canvas">
        <canvas id="canvasId"></canvas>
    </div>

    <% if (gift) { %>
        <ul>%>
            <li>file: <img height="100" width="100" src="<%= gift.filePath %>"></li>
            <li>animation: <%= gift.animation %></li>
            <li>receiver_name: <%= gift.receiver_name %></li>
            <li>message: <%= gift.message %></li>
            <li>signature: <%= gift.signature %></li>
            <li>enveloppe_color: <%= gift.enveloppe_color %></li>
            <li>sender_mail: <%= gift.sender_mail %></li>
            <li>receiver_mail: <%= gift.receiver_mail %></li>
        </ul>
    <% } else { %>
        <p>No gift available.</p>
    <% } %>

</body>